/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(206, 81%, 8%);
    --clr-primary-2: hsl(205, 90%, 23%);
    --clr-primary-3: hsl(205, 74%, 48%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(206, 4%, 34%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-coral: hsl(16, 100, 66);
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Merriweather", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 5px 15px 25px rgba(0, 0, 0, 0.5);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  
  img {
    width: 100%;
    display: block;
  }
  
  h1,
  h2 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}
  h3,
  h4 {
    letter-spacing: var(--spacing);
    text-transform: uppercase;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    font-size: 1rem;
    color: var(clr-grey-1);
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
  
  /* section */
  .section {
    padding: 1rem;
  }
  
  .section-center {
    width: 90vw;
    margin: 2.5rem;
    max-width: 1170px;
  }

  header {
    max-height: 80vh;
    display: grid;
    place-items: center;
    max-width: 1170px;
  }

  main {
    min-height: 100vh;
    display: grid;
    place-items: center;
    max-width: 1170px;
  }


 /* nav */

 header {
  background: transparent;
   height: 15vh;
 }

  .nav-toggle {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-1);
    transition: var(--transition);
    
  }
  .nav-toggle:hover {
    color: var(--clr-primary-3);
    transform: rotate(90deg);
  }
  
  
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
  .close-btn {
    font-size: 1rem;
    
    background: transparent;
    border-color: transparent;
    
    transition: var(--transition);
    color: var(--clr-red-dark);
  }
  .close-btn:hover {
    color: var(--clr-red-light);
    
  }
  
  
  .nav a {
    display: block;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: var(--clr-grey-1);
    transition: var(--transition);
  }
  .nav a:hover {
    color: var(--clr-primary-3);
    padding-left: 1.75rem;
  }
  
  
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-white);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: var(--clr-red-dark);
    transition: var(--transition);
    transform: translate(-100%);
  }
  .show-nav-bar {
    transform: translate(0);
  }
  @media screen and (min-width: 676px) {
    .nav-bar {
      width: 20vw;
      background-color: var(--clr-grey-2);
    }
  }
  

 /*
  =============== 
  Hero Image
  ===============
  */
#hero-image {
  height: 80vh;
  width: 100%;
  
  overflow: hidden;
  background: url(../images/Inspiration.png) no-repeat center center;
}

/* #hero-image-text { 
position: absolute; 
top: 125px; 
left: 100px; 

letter-spacing: 4px;  
background: rgba(255, 255, 255, 0.7);
padding: 10px; 
} */

/* 
==========
Search
========== 
*/

.search-box{
  width: 100%;
  position: relative;
  display: flex;

}
.search-input{
  height: 10vh;
  width: 65vw;
  padding: 10px;
  border: none;
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
  
}
.search-button{
 text-align: center;
height: 10vh;
width: 10vw;
cursor: pointer;
border-color: var(--clr-grey-2);
border-bottom: none;
border-top: none;
border-right: none;
font-size: 1.5rem;
background-color: #fff;


}
.search-container{
  width: 75vw;
  position: relative;
  margin-left: 12.5vw;
  margin-top: 50vh;
  box-shadow: var(--dark-shadow);
}

/* 
==========
Footer
========== 
*/
#footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background-color: aqua;
 }

/* 
==========

========== 
*/

.sub-container{
  width: 100%;
  height: 120vh;
  margin-bottom: 15vh;
 
}

 .home-container{
  width: 75vw;
  height: 35vh;
  position: relative;
  margin-left: 12.5vw;
  margin-bottom: 5vh;
  box-shadow: var(--dark-shadow);
}



.home-img {
  width: 40vw;
  height: 60vh;
  margin: 2.5rem;
  background-color: red;
}

.home-info {
	width: 40vw;
  height: 60vh;
  margin: 2.5rem;
  background-color: aqua;
}


@media screen and (min-width: 992px) {
	.section-center {
		display: grid;
		grid-template-columns: 1fr 1fr;
		place-items: center;
		gap: 3rem;
		width: 95vw;
	}
	
}



@media screen and (max-width: 992px) {

	.home-img {
    width: 80vw;
    margin: 0.5rem;
   
  }
  
  .home-info {
    width: 80vw;
    margin: 0.5rem;
  }
}