/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(206, 81%, 8%);
    --clr-primary-2: hsl(205, 90%, 23%);
    --clr-primary-3: hsl(205, 74%, 48%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-1: hsl(206, 4%, 34%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-coral: hsl(16, 100, 66);
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Merriweather", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  
  img {
    width: 100%;
    display: block;
  }
  
  h1,
  h2 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}
  h3,
  h4 {
    letter-spacing: var(--spacing);
    text-transform: uppercase;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    font-size: 1rem;
    color: var(clr-grey-1);
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
  
  /* section */
  .section {
    padding: 1rem;
  }
  
  .section-center {
    width: 90vw;
    margin: 5rem auto;
    max-width: 1170px;
  }

  header {
    min-height: 80vh;
    display: grid;
    place-items: center;
    max-width: 1170px;
  }

  main {
    min-height: 80vh;
    display: grid;
    place-items: center;
    max-width: 1170px;
  }

   /*
  =============== 
  Nav bar
  ===============
  */


 /*
  =============== 
  Hero Image
  ===============
  */
#hero-image {
  height: 800px;
  width: 100%;
  overflow: hidden;
  background: url(../images/Inspiration.jpg) no-repeat center center;
}

#hero-image-text { 
position: absolute; 
top: 125px; 
left: 100px; 
/* width: 100%;  */
letter-spacing: 4px;  
background: rgba(255, 255, 255, 0.7);
padding: 10px; 
}

/* 
==========
Search
========== 
*/

.search-box{
  width: 100%;
  position: relative;
  display: flex;

}
.search-input{
  height: 10vh;
 width: 40vw;
  padding: 10px;
  border: none;
  font-family: var(--ff-secondary);
  
  font-size: 1.5rem;
}
.search-button{
 text-align: center;
height: 10vh;
width: 10vw;
cursor: pointer;
border-color: var(--clr-grey-2);
border-bottom: none;
border-top: none;
border-right: none;
font-size: 1.5rem;
background-color: #fff;


}
.search-container{
  width: 35vw;
  position: absolute;
  margin-left: 20vw;
  margin-top: 60vh;
  box-shadow: var(--dark-shadow);
  transform: translate(-50% , -50%);
}